.box {
    width: 50%;
    height: 50%;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    background-color: lightblue;
   
}
h1 {
    font-weight: bold;
    color: brown;
    margin-bottom: 48px;
}
body >h1 >p{
    font-size: 16px;
}
div p{
    font-size: 12px;
}
