 .box{
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
  width:600px;
  height:300px;
  border-radius:10px;
}
img{
  border-radius:10px;
  width: 50%;
  height: 250px;
}